<!doctype html>
<html>
<head>
  <title>A Game!</title>
</head>
<body>

    <form action="/madlib">
        Enter a name:
        <input type="text" name="name">
        <div>
        Select a color:
        <select name="color">
            <option value="cerulean">cerulean</option>
            <option value="lavender">lavender</option>
            <option value="mauve">mauve</option>
            <option value="rose_quartz">rose quartz</option>
            <option value="rainbow">rainbow</option>
        </select>
        </div>
        <div>
        Enter a noun:
        <input type="text" name="noun">
        </div>
        <div>
        Select an adjective:
            <input type="radio" name="adjective" value="elegant">
            <label>elegant</label>
            <input type="radio" name="adjective" value="ratchet">
            <label>ratchet</label>
            <input type="radio" name="adjective" value="cuddly">
            <label>cuddly</label>
            <input type="radio" name="adjective" value="stupid">
            <label>stupid</label>
            <input type="radio" name="adjective" value="bouyant">
            <label>buoyant</label>
        </div>
        <div>
            <input type="submit"
        </div>
    </form>
 
</body>
</html>